---
---

@import "{{ site.theme }}";
body{
  background-color: #ffffff;
  color: #000;
}
h1, h2, h3, h4, h5 {
  color: #c7053d;
}
header{
  background-color: #fff;
  color: #000;
}
header h1{
  color:#c7053d;
}
  
